{
    "root": true,
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "requireConfigFile": false,
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/no-unescaped-entities": "off",
        "react/prop-types": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}